    <div class="col-2">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">ジャンル検索</li>
        <% genres.each do |genre| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= link_to "#{genre.name}", genre_path(genre.id) %>
          <span class="badge badge-primary badge-pill"><%= genre.items.count %></span>
          </li>
        <% end %>
      </ul>
    </div>
