  <div calss = "containar" >
    <div class = "row">
        <div class = "col-12 text-center">
          <h2>ご注文ありがとうございました</h2>
               <h2>See you next!!</h2>
        </div>
      </div>
    </div>
 </div>